<p id="notice"><%= notice %></p>

<h1>Сортировка таблицы</h1>

<table class="sort" align="center">
  <thead>
    <tr>
      <td>Alphabetic</td>
      <td>Numeric</td>
      <td>Date</td>
      <th>Unsortable</th>
    </tr>
  </thead>

  <tbody>
    <% @signs.each do |sign| %>
      <tr>
        <td><%= sign.alphabetic %></td>
        <td><%= sign.numeric %></td>
        <td><%= sign.date %></td>
        <td><%= sign.unsortable %></td>
      </tr>
    <% end %>
  </tbody>

  <tr class="summary">
    <td><p>Количество записей:</p> <%= @signs.select(:alphabetic).count %></td>
    <td>
      <p>Мин. значение:</p> <%= @signs.minimum(:numeric) %>
      <p>Макс. значение:</p> <%= @signs.maximum(:numeric) %>
      <p>Среднее значение:</p> <%= @signs.average(:numeric) %>
    </td>
    <td>
      <p>Самая ранняя дата:</p> <%= @signs.minimum(:date) %>
      <p>Самая поздняя дата:</p> <%= @signs.maximum(:date) %>
    </td>
    <td><p>Количество записей:</p> <%= @signs.select(:unsortable).count %></td>
  </tr>
</table>
