<p id="notice"><%= notice %></p>

<h1>Сортировка таблицы</h1>

<table class="sort" align="center">
  <thead>
    <tr>
      <td>Alphabetic</td>
      <td>Numeric</td>
      <td>Date</td>
      <th>Unsortable</th>
    </tr>
  </thead>

  <tbody>
    <% @signs.each do |sign| %>
      <tr>
        <td><%= sign.alphabetic %></td>
        <td><%= sign.numeric %></td>
        <td><%= sign.date %></td>
        <td><%= sign.unsortable %></td>
        <!-- <td><%= link_to 'Изменить', edit_sign_path(sign) %></td>
        <td><%= link_to 'Удалить', sign, method: :delete, data: { confirm: 'Вы уверены?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'Новая запись', new_sign_path %> -->
